:host,
stencila-project-graph,
.projectGraph {
  display: block;
  height: 100%;
  width: 100%;

  --graphColor-text: var(--color-key, #000);
  --graphColor-link: var(--color-neutral-100);
  --graphColor-default: var(--color-neutral-300);
  --graphColor-file: #ffec6f;
  --graphColor-source: #ccebc5;
  --graphColor-symbol: #bc80bd;
  --graphColor-module: #d9d9d9;
  --graphColor-node: #fccde5;
  --graphColor-url: #80b1d3;
  --graphColor-file: #b3de69;
  --graphColor-file: #fdb462;
  --graphColor-file: #fb7f72;
  --graphColor-file: #bebada;
}

.linkContainer g {
}

.linkContainer line {
  stroke: var(--graphColor-link);
  stroke-width: 2;
}

.linkContainer text {
  font-size: 0.5rem;
  /* transform-box: content-box;
  transform-origin-x: center;
  transform-origin-y: center; */
}

svg {
  height: 100%;
  width: 100%;
}

svg text {
  fill: var(--color-key);
  font-size: 0.75rem;
  font-family: var(--font-family-mono);
  text-anchor: middle;
}

svg circle,
svg path {
  fill: var(--graphColor-default);
}

svg path.File {
  fill: var(--graphColor-file);
}

svg path.Source {
  stroke: var(--graphColor-source);
  stroke-width: 1;
}

svg path.Symbol {
  fill: var(--graphColor-symbol);
}

svg path.Module {
  fill: var(--graphColor-module);
}

svg path.Node {
  fill: var(--graphColor-node);
}

svg path.Url {
  fill: var(--graphColor-uØrl);
}
