@import '../base.css';

:host,
stencila-code-editor {
  all: initial;

  @apply flex;
  --border-width: 1px;
  --background-color: transparent;

  .codeContainer {
    @apply flex flex-col flex-grow rounded border border-neutral-300;
    background-color: var(--background-color);
    border-width: var(--border-width);

    &:focus-within {
      box-shadow: inset 0px 0px 0px 2px var(--color-neutral-400);
    }
  }

  .codeEditor {
    @apply flex-grow cursor-text font-mono;

    .codemirror-content *,
    .gutterElement * {
      @apply font-mono text-sm;
    }

    .codemirror-focused {
      @apply outline-none;
    }

    .codemirror-scroller {
      @apply overflow-auto;
    }
  }

  menu {
    @apply border-t border-neutral-300 m-0 p-0 py-px flex justify-end;

    select {
      @apply appearance-none border-none mr-2 text-xs text-neutral-600 text-right bg-transparent font-body;

      option {
        @apply font-body text-right;
      }

      &:active,
      &:focus,
      &:hover {
        @apply text-neutral-900;
      }
    }
  }
}
