@import '../base.css';

:host,
stencila-editor {
  /** @prop --gutter-background: Background color of the Editor gutter (Line numbers, fold, etc) */
  --gutter-background: var(
    --color-background,
    var(--color-neutral-50, #e9eaf1)
  );

  /** @prop --gutter-color: (Text) Color of the Editor Line Numbers gutter (Line numbers, fold, etc) */
  --gutter-color: var(--color-neutral-500, #6e7591);

  all: initial;

  @apply flex max-w-full;
  --border-width: 1px;
  --background-color: transparent;

  .editorContainer {
    @apply flex flex-col flex-grow max-w-full border rounded border-neutral-100;
    background-color: var(--background-color);
    border-width: var(--border-width);

    &:focus-within {
      box-shadow: inset 0px 0px 0px 2px var(--color-neutral-200);
    }
  }

  .editor {
    @apply flex-grow max-w-full overflow-auto font-mono cursor-text font-mono text-sm;
  }

  &::slotted(.editorContainer) {
    .cm-wrap,
    .cm-wrap * {
      @apply font-mono;
    }

    .cm-wrap {
      @apply leading-normal;
    }

    .codemirror-focused {
      @apply outline-none;
    }

    .codemirror-scroller {
      @apply overflow-auto;
    }

    .cm-gutters {
      color: var(--gutter-color);
      background-color: var(--gutter-background);
    }

    .cm-tooltip.cm-tooltip-autocomplete > ul > li {
      font-size: 90%;
      padding-bottom: 2px;
      padding-top: 2px;
    }

    .cm-completionIcon {
      min-width: 1.375em;
      min-width: 2ch;
    }

    stencila-code-error {
      @apply rounded-none border-t-0 border-l-0 border-r-0 border-b;
      border-bottom-style: solid;

      &:last-of-type {
        @apply border-b-0;
      }
    }
  }

  menu {
    @apply flex justify-end p-0 py-px m-0 border-t border-neutral-100;

    stencila-icon {
      --height: 1em;
      --width: 1em;
      @apply mr-1;
    }

    select {
      @apply mr-2 text-xs text-left bg-transparent border-none appearance-none text-neutral-700 font-body;

      option {
        @apply text-right font-body;
      }

      &:active,
      &:focus,
      &:hover {
        @apply text-neutral-900;
      }
    }
  }
}
