@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:host {
  --height: 1.25em;
  --width: 1.25em;

  @apply inline-block leading-none align-middle text-current;

  span {
    @apply block w-full h-auto max-h-full;
    height: var(--height);
    width: var(--width);
  }

  ::slotted(i),
  &::slotted(i) {
    @apply relative block fill-current;
  }

  &[icon^='loader']::slotted(i) {
    animation: spin 3000ms linear infinite;
  }
}
