:host {
  @apply flex items-center h-8 px-2 text-sm tracking-wide no-underline uppercase cursor-pointer font-body text-key;

  &:hover {
    @apply bg-neutral-200;
  }

  stencila-icon {
    @apply mr-2;
  }
}
