@import './anchor';

:host li,
stencila-tab li,
ul[role='tablist'] li {
  @apply capitalize list-none text-center flex flex-row text-center border border-neutral-400 m-0 p-0;

  &:first-of-type {
    @apply rounded-l;
  }

  &:last-of-type {
    @apply rounded-r;
  }

  a {
    @apply block w-full py-2 px-4;

    &[aria-selected='true'] {
      @apply bg-neutral-300;
    }

    &:hover:not([aria-selected='true']) {
      @apply bg-stock border-neutral-300;
    }
  }
}
