@import './anchor';

:host,
stencila-tab {
  @apply flex-grow;
}

:host li,
stencila-tab li,
ul[role='tablist'] li {
  @apply flex flex-row p-0 m-0 text-center capitalize list-none border border-neutral-400;

  &:first-of-type {
    @apply rounded-l;
  }

  &:last-of-type {
    @apply rounded-r;
  }

  a {
    @apply block w-full px-4 py-2 leading-none;

    &[aria-selected='true'] {
      @apply bg-neutral-300;
    }

    &:hover:not([aria-selected='true']) {
      @apply bg-stock border-neutral-300;
    }
  }
}
