.stencila-toast-container {
  @apply fixed top-0 left-0 z-50 flex flex-col items-center w-screen h-screen p-2 pointer-events-none;
  display: flex !important;

  &[position^='top'] {
    @apply justify-start;
  }

  &[position^='bottom'] {
    @apply justify-end;
  }

  &[position$='Start' i] {
    @apply items-start;
  }

  &[position$='End' i] {
    @apply items-end;
  }
}

:host,
stencila-toast {
  /** @prop --color: Text color of the Toast component */
  --color: var(--color-key, black);

  /** @prop --background: Background color of the Toast component */
  --background: var(--background, var(--color-stock, white));

  @apply flex-shrink-0 block px-4 py-2 my-1 overflow-hidden font-bold leading-none shadow-lg pointer-events-auto left-1/2 rounded-md text-stock;
  background-color: var(--background);
  color: var(--color);

  &[data-enter] {
    animation: fade-in 150ms ease-in;
    animation-delay: calc(var(--i, 0) * 50ms);
  }

  &[data-exit] {
    animation: fade-out 150ms ease-out;
    animation-fill-mode: both;
  }

  /* Toast color variants */
  /* TODO: Allow variables set above to override these colors */
  &[type='success'] {
    @apply text-stock bg-success-500;
  }

  &[type='warn'] {
    @apply text-warn-900 bg-warn-500;
  }

  &[type='danger'] {
    @apply text-danger-900 bg-danger-500;
  }

  &[position='topStart'] {
    @apply self-start;
  }

  &[position='topEnd'] {
    @apply self-end;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(25%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade-out {
  from {
    max-height: none;
    opacity: 1;
    transform: translateY(0);
  }
  to {
    max-height: 0;
    opacity: 0;
    padding-bottom: 0;
    padding-top: 0;
    transform: translateY(25%);
  }
}
