.stencila-toast-container {
  @apply fixed top-0 left-0 z-50 flex flex-col items-center w-screen h-screen p-2 pointer-events-none box-border;
  display: flex !important;

  &[position^='top'] {
    @apply justify-start;
  }

  &[position^='bottom'] {
    @apply justify-end;
  }

  &[position$='Start' i] {
    @apply items-start;
  }

  &[position$='End' i] {
    @apply items-end;
  }
}

:host,
stencila-toast {
  /** @prop --color: Text color of the Toast component */
  --color: var(--color-key, black);

  /** @prop --background: Background color of the Toast component */
  --background: var(--color-stock, white);

  @apply flex flex-row flex-shrink-0 block my-1 overflow-hidden font-body leading-none shadow-lg pointer-events-auto rounded-md text-stock text-base relative max-w-prose;
  background-color: var(--background);
  border: 1px solid var(--color-neutral-200);
  color: var(--color);
  min-width: 32ch;

  &[data-enter] {
    animation: fade-in 150ms ease-in;
    animation-delay: calc(var(--i, 0) * 50ms);
  }

  &[data-exit] {
    animation: fade-out 150ms ease-out;
    animation-fill-mode: both;
  }

  /* Toast color variants */
  /* TODO: Allow variables set above to override these colors */
  .toastAccent {
    @apply text-stock leading-none px-2 py-4;

    stencila-icon {
      @apply block rounded-full p-1 -mt-0.5;
      --height: 1.25rem;
      --width: 1.25rem;
    }
  }

  &,
  &[type='info'] {
    .toastAccent {
      @apply bg-neutral-300 text-neutral-600;

      stencila-icon {
        @apply bg-neutral-100;
      }
    }
  }

  &[type='primary'] {
    @apply border-primary-200;

    .toastAccent {
      @apply bg-primary-200 text-primary-500;

      stencila-icon {
        @apply bg-primary-100;
      }
    }
  }

  &[type='success'] {
    @apply border-success-200;

    .toastAccent {
      @apply bg-success-200 text-success-500;

      stencila-icon {
        @apply bg-success-100;
      }
    }
  }

  &[type='warn'] {
    @apply border-warn-300;

    .toastAccent {
      @apply bg-warn-300 text-warn-600;

      stencila-icon {
        @apply bg-warn-100;
      }
    }
  }

  &[type='danger'] {
    @apply border-danger-200;

    .toastAccent {
      @apply bg-danger-200 text-danger-500;

      stencila-icon {
        @apply bg-danger-100;
      }
    }
  }

  &[position='topStart'] {
    @apply self-start;
  }

  &[position='topEnd'] {
    @apply self-end;
  }

  .content {
    @apply p-4 flex flex-col justify-center items-start text-sm;
  }

  [slot='title'] {
    @apply font-bold;
  }

  [slot='actions']:not(:empty) {
    @apply mt-2 flex justify-start w-full;

    & > *:not(:first-child) {
      @apply pl-2;
    }
  }

  /* Close button */
  &[dismissable] {
    @apply pr-8;
  }

  .closeButton {
    @apply absolute;
    right: 0.325rem;
    top: 0.325rem;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(25%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade-out {
  from {
    max-height: none;
    opacity: 1;
    transform: translateY(0);
  }
  to {
    max-height: 0;
    opacity: 0;
    padding-bottom: 0;
    padding-top: 0;
    transform: translateY(25%);
  }
}
