$dropdown-content-background-color: $blue
$dropdown-item-color: $white
$dropdown-item-hover-color: $white
$dropdown-item-hover-background-color: $denim
$dropdown-item-active-color: $white
$dropdown-item-active-background-color: $denim


@import '../node_modules/bulma/sass/components/dropdown'


.dropdown-content
    padding-bottom: unset
    padding-top: unset
    position: relative
    box-shadow: unset

    &:before
        content: ''
        display: block
        position: absolute
        top: -8px
        left: 50%
        transform: translateX(-50%)
        @include triangle($width: 16px, $height: 8px, $color: $blue, $direction: up)


a.dropdown-item
    border-bottom: 1px solid $mariner
    position: relative
    display: inline-flex
    justify-content: space-between
    align-items: center
    width: 100%
    padding: rem(12) rem(20)
    font-weight: $weight-heavy
    font-size: rem(14)
    line-height: 1em

    &:before
        position: absolute
        left: 0
        top: 0
        width: 0
        height: 100%
        background: transparent
        content: ''
        transition: all .25s ease

    &:hover
        &:before
            background: $green
            width: 3px

    &:first-child
        border-top-left-radius: 3px
        border-top-right-radius: 3px

    &:last-child
        border-bottom: none
        border-bottom-left-radius: 3px
        border-bottom-right-radius: 3px

    span
        margin-left: rem(40)

.dropdown-menu
    left: 50%
    transform: translateX(-50%)

.dropdown-trigger
    .button
        &.is-text
            background: none
            text-align: center
            border: none
            font-weight: $weight-heavy
            text-decoration: none
            color: $nobel

            &:hover
                color: $blue

            span
                display: block
                width: 100%

            .icon
                display: none
        &.is-active
            color: $blue
