// Overrides, or definition of new, initial variables
// See https://bulma.io/documentation/overview/variables/#initial-variables for a list

$blue: #2568ef
$green: #66ff66
$pink: #ff6699
$charcoal: #333333
$grey: #f1f1f2

// Overrides of derived variables
// See https://bulma.io/documentation/overview/variables/#derived-variables for a list

$primary: $blue

$family-sans-serif: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$family-monospace: monospace
