:host {
  @apply absolute top-0 right-0 z-10 py-px pl-1 pr-1 font-mono text-xs leading-none border-t-0 border-b border-l border-r-0 border-solid rounded-bl bg-neutral-200 border-neutral-300;

  nav > * {
    @apply align-middle;
  }

  ul {
    @apply p-0 m-0 list-none;
  }

  li {
    @apply inline pr-1;

    &:last-child {
      @apply pr-0;
    }
  }

  stencila-button {
    @apply inline-block;
  }

  .actionContainer {
    @apply inline-block overflow-hidden whitespace-no-wrap align-middle;
    width: var(--max-width);
    transition: width 120ms ease-in-out;

    &:not(.isAnimating):not(.isCollapsed) {
      @apply w-auto;
    }
  }

  .secondaryActions:not(:hover):not(:focus) .actionContainer.isCollapsed {
    @apply w-0;
  }
}
