:host {
  /** @prop --background: Background color of the Action Menu component */
  --background: var(--color-neutral-50, #edf2f7);

  /** @prop --border: Border color of the Action Menu component */
  --border: var(--color-neutral-100, #e2e8f0);

  @apply absolute top-0 right-0 py-px pl-1 pr-1 font-mono text-xs leading-none border-t-0 border-b border-l border-r-0 border-solid rounded-bl;
  background-color: var(--background);
  border-color: var(--border);

  .hidden {
    display: none;
  }

  nav > * {
    @apply align-middle;
  }

  ul {
    @apply p-0 m-0 list-none;
  }

  li {
    @apply inline pr-1;

    &:last-child {
      @apply pr-0;
    }
  }

  stencila-button,
  ::slotted(stencila-button) {
    @apply inline-block;
  }

  .actionContainer {
    @apply inline-block overflow-hidden whitespace-nowrap align-middle;
    width: var(--max-width);
    transition: width 120ms ease-in-out;

    &:not(.isAnimating):not(.isCollapsed) {
      @apply w-auto;
    }
  }

  .secondaryActions:not(:hover):not(:focus) .actionContainer.isCollapsed {
    @apply w-0;
  }
}
