:host,
stencila-code-expression {
  /** @prop --background: Background color of the Code Output section */
  --background: var(--color-stock, #fff);

  /** @prop --background-buttons: Background color of the Code Editor section */
  --background-buttons: var(--color-neutral-200, #edf2f7);

  /** @prop --background-editor: Background color of the Code Editor section */
  --background-editor: var(--color-neutral-200, #edf2f7);

  /** @prop --border: Border color around the component as well as internal section dividers */
  --border: var(--color-neutral-300, #e2e8f0);

  @apply inline-flex items-stretch p-0 text-sm leading-none align-text-bottom border border-solid rounded;
  background-color: var(--background);
  border-color: var(--border);

  stencila-tooltip {
    @apply inline-flex items-stretch p-0 overflow-hidden leading-none align-bottom;
  }

  .actions {
    @apply relative inline-flex flex-initial whitespace-no-wrap rounded-l;
    background-color: var(--background-buttons);
  }

  .text {
    @apply inline-block w-0 min-w-0 px-0 py-1 overflow-hidden font-mono text-xs whitespace-no-wrap duration-150 ease-out text-key;
    background-color: var(--background-editor);
    transition-property: width;
  }

  ::slotted([slot='output']),
  [slot='output'] {
    @apply inline-block py-1 pl-1 pr-2 font-mono text-xs border-none bg-stock text-key;
    background-color: var(--background);
    transition: padding 120ms ease-out;

    stencila-icon {
      --height: 1rem;
      @apply h-4;

      svg {
        @apply h-4 stroke-warn-600;
      }
    }
  }

  .divider {
    @apply self-center inline-block w-2 max-h-em;
    fill: var(--background-buttons);
  }

  &.isCodeVisible {
    .text {
      @apply inline-block w-auto px-2 py-1 whitespace-pre-line min-w-em;
    }

    .divider {
      fill: var(--background-editor);
    }
  }

  .actions stencila-button {
    @apply inline-flex items-stretch self-start overflow-hidden cursor-default transition ease-out duration-150;
    transition-property: padding, width, max-width;

    &[icon='eye'] {
      @apply w-0;
    }
  }

  .extraActions {
    @apply inline-flex;
  }

  .extraActions stencila-button {
    @apply inline-block w-0 max-w-0;
  }

  &.isOutputEmpty {
    ::slotted([slot='output']),
    [slot='output'] {
      @apply text-neutral-600;
    }
  }

  &.hover,
  &:focus,
  &:focus-within,
  &:hover {
    .actions stencila-button[icon='eye'],
    .extraActions stencila-button {
      @apply w-8 max-w-full;
    }
  }
}
