@import '../base.css';
@import '../atoms/code.css';
@import '../atoms/pre.css';

.preReset {
  @apply p-0 m-0 border-0;
}

:host,
stencila-code-chunk {
  /** @prop --background: Background color of the Code Output section */
  --background: var(--color-stock);

  /** @prop --background-editor: Background color of the Code Editor section */
  --background-editor: var(--color-neutral-200);

  /** @prop --border: Border color around the component as well as internal section dividers */
  --border: var(--color-neutral-300);

  @apply relative block w-full my-4 border border-solid rounded;
  border-color: var(--border);

  stencila-editor {
    --border-width: 0;
    @apply flex-grow;
  }

  stencila-node-list {
    @apply p-2 m-0;
    background-color: var(--background);
  }
}

.editorContainer {
  @apply relative flex flex-col flex-auto m-0 border-t-0 border-b border-l-0 border-r-0 rounded-none;
  background: var(--background-editor);
  border-color: var(--border);
  height: intrinsic;

  pre,
  pre[class*='language-'] {
    @apply bg-transparent;
  }

  &.hidden {
    @apply hidden;
  }
}

@screen lg {
  :host,
  stencila-code-chunk {
    @apply flex flex-row items-stretch w-full;
  }

  .editorContainer {
    @apply w-1/2 border-b-0 border-l;
  }

  stencila-node-list {
    @apply flex-grow order-first w-1/2;
  }
}
