:host,
stencila-details {
  /** @prop --disclosure-icon-right: Position of the disclosure toggle icon relative to
  * the right boundary of the closest relatively positioned parent element.
  */
  --disclosure-icon-right: var(--disclosure-icon-right, 0);

  /** @prop --disclosure-icon-top: Position of the disclosure toggle icon relative to
  * the top boundary of the closest relatively positioned parent element.
  */
  --disclosure-icon-top: var(--disclosure-icon-top, 0);

  @apply relative block font-body;

  .contents {
    @apply overflow-hidden;

    &.hidden {
      /* @apply hidden; */
      display: none;
    }
  }

  ::slotted([slot='summary']),
  &::slotted([slot='summary']) {
    @apply cursor-pointer;
  }

  .disclosure-toggle {
    @apply absolute cursor-pointer pointer-events-none;
    top: var(--disclosure-icon-top, 0);
    right: var(--disclosure-icon-right, 0);
    transition: transform 120ms ease-in-out;
    transform: rotateZ(0deg);

    svg {
      @apply stroke-neutral-500;
    }
  }

  &[isopen] .disclosure-toggle {
    transform: rotateZ(180deg);
  }

  &:hover,
  &:focus {
    ::slotted(.disclosure-toggle > svg),
    &::slotted(.disclosure-toggle > svg) {
      @apply stroke-neutral-700;
    }
  }
}
