:host,
stencila-details {
  @apply relative block font-body;

  .contents {
    @apply overflow-hidden;

    &.hidden {
      @apply hidden;
    }
  }

  ::slotted([slot='summary']),
  &::slotted([slot='summary']) {
    @apply cursor-pointer;
  }

  .disclosure-toggle {
    @apply absolute cursor-pointer pointer-events-none;
    transition: transform 120ms ease-in-out;
    transform: rotateZ(0deg);

    svg {
      @apply stroke-neutral-500;
    }
  }

  &[isopen] .disclosure-toggle {
    transform: rotateZ(180deg);
  }

  &:hover,
  &:focus {
    ::slotted(.disclosure-toggle > svg),
    &::slotted(.disclosure-toggle > svg) {
      @apply stroke-neutral-700;
    }
  }
}
