:host {
  /** @prop --background: Sets the background color of the component. */

  @apply block;
  background-color: var(--background, var(--color-neutral-200));

  &[position='fixed'] {
    @apply fixed top-0 left-0 z-30 w-full;

    & + * {
      @apply mt-12;
    }
  }

  &[color='stock'],
  &[color='stock'] div {
    --background: var(--color-stock);
  }

  &[color='key'],
  &[color='key'] div {
    --background: var(--color-key);
  }

  &[color='primary'],
  &[color='primary'] div {
    --background: var(--color-primary-500);
  }

  &[color='neutral'],
  &[color='neutral'] div {
    @apply text-neutral-700;
    --background: var(--color-neutral-200);
  }

  &[color='success'],
  &[color='success'] div {
    --background: var(--color-success-500);
  }

  &[color='warn'],
  &[color='warn'] div {
    --background: var(--color-warn-500);
  }

  &[color='danger'],
  &[color='danger'] div {
    --background: var(--color-danger-500);
  }

  div {
    @apply flex flex-row items-center justify-between p-2 m-0 leading-none align-middle text-stock font-body;
    background-color: var(--background, var(--color-neutral-200));

    & > * {
      @apply align-middle;
    }
  }

  ::slotted([slot='middle']) {
    @apply flex-grow px-4;
  }

  /* Use lighter backdrop on dark backgrounds */
  /* TODO: Make this work when `key` color is light */
  /* &[color='key']::slotted(*)
    stencila-button:not([disabled]):hover
    button.iconOnly {
    background-color: rgba(255, 255, 255, 0.2);
  } */
}
