:host {
  /** @prop --background: Sets the background color of the component.
  * Can be a CSS variable name from the palette (`danger`, `success-300`), a fully formed CSS variable name
  * (`--my-custom-variable`), or any other valid CSS color value.
  */
  --background: var(--color-primary);

  @apply block h-12;

  &[position='fixed'] {
    @apply fixed top-0 left-0 z-30 w-full;

    & + * {
      @apply mt-12;
    }
  }

  div {
    @apply flex flex-row items-center justify-between px-1 py-2 m-0 leading-none align-middle bg-primary-500 text-stock font-body;

    & > * {
      @apply align-middle;
    }
  }

  /* Create color background variants based on background color */
  &[color] {
    div {
      background-color: var(--background);
    }
  }

  ::slotted([slot='middle']) {
    @apply flex-grow px-4;
  }

  /* Use lighter backdrop on dark backgrounds */
  /* TODO: Make this work when `key` color is light */
  &[color='key']::slotted(*)
    stencila-button:not([disabled]):hover
    button.iconOnly {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
