:host ul{
  --tw-shadow:0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
  background-color:#fff;
  background-color:var(--color-stock,#fff);
  border:1px solid #cfd2e1;
  border-color:var(--color-neutral-100,#cfd2e1);
  border-radius:.25rem;
  box-shadow:0 0 #0000,0 0 #0000,var(--tw-shadow);
  box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  display:inline-block;
  margin:0;
  min-width:112px;
  padding:0;
  position:absolute;
  z-index:1
}

:host ul[aria-hidden]{
  display:none
}

