:host{
  align-items:center;
  color:#4a4a4a;
  color:var(--color-key,#4a4a4a);
  cursor:pointer;
  display:flex;
  font-family:sans-serif;
  font-family:var(--font-family-body,sans-serif);
  height:3rem;
  padding-left:1rem;
  padding-right:1rem;
  text-decoration:none
}

:host(:hover){
  background-color:#e9eaf1;
  background-color:var(--color-neutral-50,#e9eaf1)
}

:host stencila-icon{
  margin-right:.5rem
}

