*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.default', currentColor);
}

html {
  font-size: 16px;
}

.hidden {
  display: none;
}
