/* Styles based on https://github.com/tscanlin/tocbot/tree/master/src/scss */
@import 'tocbot';
@import '../atoms/anchor';

.toc {
  @apply overflow-y-auto;
}

.toc > .toc-list {
  @apply overflow-hidden relative;

  li {
    @apply list-none leading-relaxed;
  }
}

.toc-list {
  @apply m-0 pl-2;
}

a.toc-link {
  @apply h-full;
  color: currentColor;
  transition: all 200ms ease-in-out;

  &:not(.is-active-link):hover {
    @apply pl-2;
  }
}

.is-collapsible {
  @apply overflow-hidden;
  max-height: 1000px;
  transition: all 200ms ease-in-out;
}

.is-collapsed {
  max-height: 0;
}

.is-position-fixed {
  @apply top-0 pt-4 fixed;
  position: fixed !important;
}

.is-active-link {
  @apply font-bold;
}

.toc-link::before {
  @apply absolute bg-neutral-100 inline-block left-0 w-1 -mt-px;
  content: ' ';
  height: inherit;
}

.is-active-link::before {
  @apply bg-primary-500;
}
