:host {
  @apply block h-12 z-40;

  /** @prop --background: Sets the background color of the component. */
  background-color: var(--background, var(--color-neutral-300));

  &[position='fixed'] {
    @apply fixed top-0 left-0 z-30 w-full;

    & + * {
      @apply mt-12;
    }
  }

  &[color='stock'] div {
    @apply bg-stock;
  }

  &[color='key'] div {
    @apply bg-key;
  }

  &[color='primary'] div {
    @apply bg-primary-500;
  }

  &[color='neutral'] div {
    @apply bg-neutral-500;
  }

  &[color='success'] div {
    @apply bg-success-500;
  }

  &[color='warn'] div {
    @apply bg-warn-500;
  }

  &[color='danger'] div {
    @apply bg-danger-500;
  }

  div {
    @apply h-full flex flex-row items-center justify-between px-1 py-2 m-0 leading-none align-middle text-stock font-body;
    background-color: var(--background);

    & > * {
      @apply align-middle;
    }
  }

  ::slotted([slot='middle']) {
    @apply flex-grow px-4;
  }

  /* Use lighter backdrop on dark backgrounds */
  /* TODO: Make this work when `key` color is light */
  &[color='key']::slotted(*)
    stencila-button:not([disabled]):hover
    button.iconOnly {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
