// Drop down is new menu (variation for creating new elements)
.dropdown
    &.is-new-menu
        header
            +transition($speed: $fast-speed)
            color: $white
            background: $blue
            display: flex
            align-items: center
            justify-content: space-between
            border-top-left-radius: 3px
            border-top-right-radius: 3px
            font-size: rem(14)
            line-height: 1em
            font-weight: $weight-medium
            padding: rem(10) rem(20)

            &:hover
                background: $denim

        .close-button
            color: $white
            position: relative

            &:after
                +transition($speed: $fast-speed)
                +vertical-align($position: absolute)
                right: rem(-20)
                height: rem(36)
                width: 0
                background: transparent
                display: block
                content: ''
                border-top-right-radius: 2px


            &:hover
                &:after
                    background: $green
                    width: 4px

        a.dropdown-item
            background: $white-smoke
            border-bottom-color: $white-lilac
            color: $blue
            font-weight: $weight-heavy
            font-size: rem(18)
            line-height: 1em
            justify-content: flex-start

            &:hover,
            &.is-active
                background: $white

            &:first-child
                border-radius: unset

            .logo
                margin-right: rem(10)
