////
/// Call to action button
////
$stencila-call-to-action-font-size: 16 !default
$stencila-call-to-action-padding: rem(20) rem(40) !default

.call-to-action
    &.button
        font-size: rem($stencila-call-to-action-font-size)
        font-weight: $weight-semibold
        line-height: 1em
        text-transform: uppercase
        padding: $stencila-call-to-action-padding
