@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

@import "./atoms/atoms";
@import "./molecules/molecules";
