////
/// Brand Colours
////

$blue: #2568ef
$black: #000000
$charcoal: #333333
$denim: #215dd7
$green: #66ff66
$grey: #f1f1f2
$mariner: #1f56c5
$nobel: #999999
$pink: #ff6699
$white: #ffffff
$white-lilac: #e1e1e2
$white-smoke: #f5f5f5

$global-colours: ("blue": ($blue, $white), "black": ($black, $white), "charcoal": ($charcoal, $white), "denim": ($denim, $white), "green": ($green, $black), "grey": ($grey, $black), "mariner": ($mariner, $white), "nobel": ($nobel, $black), "pink": ($pink, $white), "white": ($white, $black), "white-lilac": ($white-lilac, $black), "white-smoke": ($white-smoke, $black))
$colors: mergeColorMaps($global-colours, $colors)
