// Overrides, or definition of new, initial variables
// See https://bulma.io/documentation/overview/variables/#initial-variables for a list

$weight-heavy: 900

// Overrides of derived variables
// See https://bulma.io/documentation/overview/variables/#derived-variables for a list

// $primary: $blue

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i,900,900i')

$family-sans-serif: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$family-monospace: monospace
