// Global modifiers that can be applied to any element/component
.has-box-shadow
    box-shadow: 2px 2px 20px rgba($black, .2)

.hide_text
    font-size: 0
    line-height: 0
    text-indent: -10000px
