////
/// Transition speeds & easing functions used throughout the css
////

$normal-speed: 0.25s
$fast-speed: 0.1s
$slow-speed: 0.5s

=transition($attr: all, $speed: $normal-speed, $delay: 0s, $easing: ease)
    transition: $attr $speed $delay $easing
