stencia-button > button,
button,
a.button {
  @apply border-none p-0 leading-none no-underline inline-block text-sm font-body;
  transition: color 120ms ease-out, background-color 120ms ease-out;

  &:hover {
    @apply cursor-pointer;
  }

  [slot='icon'] {
    @apply inline-block pr-2;
  }

  [disabled] {
    @apply cursor-not-allowed;
  }

  & > * {
    @apply align-middle;
  }

  & > svg,
  & > img {
    @apply pr-1 inline-block;
    width: 1.125em;
    height: 1.125em;
  }

  stencila-icon svg {
    @apply pr-1;
    width: 1.125em;
    height: 1.125em;
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }

  &.iconOnly stencila-icon svg {
    @apply pr-0;
  }
}

a.button,
a:visited.button {
  @apply no-underline;
  color: inherit;
}
