@import './button';
@import './secondary';

button,
a.button {
  &.minimal:not(.secondary),
  &.minimal {
    @apply bg-transparent border-0 shadow-none text-primary-500 rounded-sm relative overflow-hidden;

    &::before {
      content: '';
      @apply absolute top-0 left-0 w-full h-full block;
    }

    &:focus,
    &:hover {
      @apply bg-transparent;

      &::before {
        background-color: rgba(0, 0, 0, 0.25);
        mix-blend-mode: darken;
      }
    }

    &.color-stock {
      @apply text-stock;
    }

    &.color-key {
      @apply text-key;
    }

    &.color-danger {
      @apply text-danger-500;
    }

    &.color-warn {
      @apply text-warn-500;
    }

    &.color-success {
      @apply text-success-500;
    }

    &.color-primary {
      @apply text-primary-500;
    }

    &.color-neutral {
      @apply text-neutral-500;

      &:focus,
      &:hover {
        @apply text-neutral-900;
      }
    }

    &[disabled],
    &[disabled]:focus,
    &[disabled]:active,
    &[disabled]:hover {
      color: var(--color-key, #000) !important;
      mix-blend-mode: soft-light;
      opacity: 0.65;

      &::before {
        @apply bg-stock;
        mix-blend-mode: soft-light;
      }

      &.color-key {
        mix-blend-mode: normal;
        opacity: 0.55;

        &::before {
          @apply bg-stock;
          mix-blend-mode: normal;
        }
      }
    }
  }
}
