a.button,
button {
  @apply inline-block px-4 py-2 m-0 text-base font-bold leading-none no-underline whitespace-nowrap border-none rounded font-body;
  background-image: none;
  transition: color 120ms ease-out, background-color 120ms ease-out;

  &.secondary {
    @apply px-2 py-1;
  }

  &.xsmall,
  &[size='xsmall'] {
    @apply px-2 py-1 text-xs leading-none rounded-sm;
  }

  &.small,
  &[size='small'] {
    @apply p-2 text-sm leading-none;
  }

  &.large,
  &[size='large'] {
    @apply px-6 py-3 text-2xl leading-none;
  }

  &:hover {
    @apply cursor-pointer;
  }

  &[disabled],
  &[disabled]:active,
  &[disabled]:hover {
    @apply cursor-not-allowed;
  }

  &.fill {
    @apply w-full;
  }

  & > * {
    @apply align-middle;
  }

  & * {
    @apply pointer-events-none;
  }

  stencila-icon {
    @apply pr-1;
    --height: 1.25em;
    --width: 1.25em;
  }

  & > svg,
  & > img {
    @apply inline-block pr-1;
    width: 1.25em;
    height: 1.25em;
  }

  &.iconOnly {
    @apply p-1;

    stencila-icon,
    & > svg,
    & > img {
      @apply pr-0;
    }

    .label {
      @apply sr-only;
    }
  }
}

:host {
  &::slotted(button > *) {
    @apply align-middle;
  }

  &::slotted(button > svg),
  &::slotted(button > img) {
    @apply inline-block pr-1;
    width: 1.25em;
    height: 1.25em;
  }

  &[icon-only='true'] {
    &::slotted(button > svg),
    &::slotted(button > img) {
      @apply pr-0;
    }
  }
}
