a.button,
button {
  @apply inline-block px-4 py-2 text-base font-bold no-underline border-none rounded font-body;
  transition: color 120ms ease-out, background-color 120ms ease-out;

  &.secondary {
    @apply px-2 py-1;
  }

  &.xsmall,
  &[size='xsmall'] {
    @apply px-2 py-1 text-xs rounded-sm;
  }

  &.small,
  &[size='small'] {
    @apply p-2 text-sm;
  }

  &.large,
  &[size='large'] {
    @apply px-6 py-3 text-2xl;
  }

  ::slotted([slot='icon']),
  [slot='icon'] {
    @apply inline-block pr-2;
  }

  &:hover {
    @apply cursor-pointer;
  }

  [slot='icon'] {
    @apply inline-block pr-2;
  }

  &[disabled] {
    @apply cursor-not-allowed;
  }

  & > * {
    @apply align-middle;
  }

  & > svg,
  & > img {
    @apply inline-block pr-1;
    width: 1.125em;
    height: 1.125em;
  }

  stencila-icon {
    @apply pr-1 mb-px;
    --height: 1.125em;
    --width: 1.125em;
  }

  &.iconOnly {
    stencila-icon,
    & > svg,
    & > img {
      @apply pr-0;
    }
  }

  &.xsmall stencila-icon,
  &[size='xsmall'] stencila-icon,
  &.small stencila-icon,
  &[size='small'] stencila-icon {
    --height: 1em;
    --width: 1em;
  }
}
