$dropdown-content-background-color: $blue
$dropdown-item-color: $white
$dropdown-item-hover-color: $white
$dropdown-item-hover-background-color: $denim
$dropdown-item-active-color: $white
$dropdown-item-active-background-color: $denim


@import 'bulma/sass/components/dropdown.sass'
@import './content'
@import './item'
@import './menu'
@import './trigger'

@import './new-menu'
