@font-face {
  font-family: 'Linearicons-Free';
  src: url('./Linearicons-Free.eot?w118d');
  src: url('./Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
    url('./Linearicons-Free.woff2?w118d') format('woff2'),
    url('./Linearicons-Free.woff?w118d') format('woff'),
    url('./Linearicons-Free.ttf?w118d') format('truetype'),
    url('./Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
  font-weight: normal;
  font-style: normal;
}
