.example {
  border: 1px solid #ffec9e;
  border-bottom: 0;
  margin-top: 1em;
  padding: 2em;
}

.inspector {
  background: #ffec9e;
  border: 1px solid #ffec9e;
  margin-bottom: 1.5em;
}

.inspector pre {
  background: #fff9e2;
  display: none;
  max-height: 20em;
  position: relative;
}

.inspector pre .token.tag {
  background: none;
  display: inherit;
  font-size: 1em;
  padding: 0;
}

.inspector pre::after {
  content: 'Click to copy';
  font-size: 10px;
  color: #cfa600;
  position: absolute;
  top: 0;
  right: 2px;
}

.inspector .label {
  font-family: monospace;
  font-size: 10px;
  color: #cfa600;
  padding-left: 0.5em;
}
