:host,
stencila-input {
  @apply relative block text-base leading-none;

  &.inline {
    @apply inline-block;
  }

  stencila-icon {
    @apply absolute left-0 pl-2 text-neutral-500;
    top: 50%;
    transform: translateY(-50%);

    & + input {
      @apply pl-8;
    }
  }

  input {
    @apply w-full p-2 text-base leading-none border border-solid rounded border-neutral-200;

    &:active,
    &:focus {
      @apply outline-none border-primary-500;
      box-shadow: inset 0 0 0 1px var(--color-primary-500);
    }
  }
}
