:host {
  ul {
    @apply absolute z-10 inline-block p-0 m-0 border border-solid rounded shadow-md bg-stock border-neutral-300;
    min-width: 112px;

    &[aria-hidden] {
      @apply hidden;
    }
  }
}
