@import '../tailwind/base';
@import './anchor';

:host li,
ul[role='tablist'] li {
  @apply list-none text-center uppercase text-sm tracking-wider font-medium flex flex-row text-center mb-4 m-0;

  a {
    @apply block border-b-2 border-neutral-300 w-full py-4 px-4;

    &[aria-selected='true'] {
      @apply border-b-2 border-primary-500 text-primary-500;
    }

    &:hover:not([aria-selected='true']) {
      @apply bg-neutral-100 border-neutral-500;
    }
  }
}
